head

  // Meta ===============================================  
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  
  title= title
  
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='#{description}')
  meta(name='author', content='#{author}')
  meta(name='keywords', content='#{keywords}')

  // styles ============================================= 
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/responsive.min.css')
  link(rel='stylesheet', href='/css/docs.css')

  // scripts ============================================ 
  //- Let's use headjs as our loader and also eliminate HTML5 Shim http://headjs.com/
  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/headjs/0.99/head.min.js')
  //- dependencies (execute in order listed)
  script(type='text/javascript')
    head.js( 
      'http://platform.twitter.com/widgets.js', 
      '//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js', 
      '/js/bootstrap.js' 
    );
  //- Google Tracking ==================================== 

  //- Use the Google Tracking Snippet to Track Your Website
  //- https://developers.google.com/analytics/devguides/collection/gajs/asyncTracking

  //- The Analytics snippet is a small piece of JavaScript code that you 
  //- paste into your pages. It activates Google Analytics tracking by 
  //- inserting ga.js into the page. To use this on your pages, copy the 
  //- code snippet below, replacing UA-XXXXX-X with your web property ID. 
  //- Paste this snippet into your website template page so that it appears 
  //- before the closing </head> tag.

  //- If you need to do more than basic page tracking, see the tracking reference 
  //- for a list of methods available in the API and see the Usage Guide for details 
  //- on using the asynchronous syntax. For step-by-step instructions on setting up 
  //- tracking, see the Help Center article on setting up tracking. 

  script(type='text/javascript')
    
    var _gaq = _gaq || [];  
    _gaq.push(['_setAccount', '#{google}']);  
    _gaq.push(['_trackPageview']);  

    (function() {
      var ga = document.createElement('script'); 
      ga.type = 'text/javascript'; ga.async = true;    
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';    

      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  
    })();
  //- The snippet above represents the minimum configuration needed to track a page 
  //- asynchronously. It uses _setAccount to set the page's web property ID and then 
  //- calls _trackPageview to send the tracking data back to the Google Analytics servers.

  //- include fonts

  // icons ============================================== 
  //- For third-generation iPad with high-resolution Retina display:
  link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
  //- For iPhone with high-resolution Retina display:
  link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
  //- For first- and second-generation iPad:
  link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
  //- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
  link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
  //- Everybody else. http://mathiasbynens.be/notes/touch-icons, note IE needs .ico but should be handled by expressjs
  link(rel='shortcut icon', href='/ico/favicon.png')